* {
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  
 @font-face {
src: url(fonts/TimesNewerRoman-Regular.otf);
font-family: se;  
}

html, body {
    height: 100%
    max-width: 100%; 
}  

body {
background-color: black;  
}


header {
background-color: black;
width: 100%;
height: 170px;
} 
  
  .port {
    position: relative;
    left:60px;
    top: -20px;
  }  
  
  .con {
    position: relative;
    left: 140px;
    top: -40px;
  }
  
  .abu {
    position: relative;
    left: 258px;
    top: -41px;
  }
  
  .awd {
    position: relative;
    top: -20px;
    left: 70px;
  }
  
  .impos {
    position: relative;
    top: -29px;
    left: 10px
  }
  
  .bot-2 {
    position: relative;
    top: -20px;
    left: -10px
  }
  .da-nav {
    position: relative;
    top: 40px;
    left: 40px
  }  

.main-header {
  position: relative;
  left: 125px
}
  .col2 {
    color: red;
    
  }
.main-p {
  font-size: 18px;
}

.main-p2 {
  position: relative;
  top: 10px;
  font-size: 18px;
}

.main-con {
  position: relative;
  top: 20px;
  left: 5px
}

.col {
    color: red;
    font-size: 18px;
    padding: 20px;
  }
  
  .foot-item {
    color: red;
    font-size: 20px;
  }
  
  .fp {
    padding: 20px;
  }
  
  .pr {
    position: relative;
    top: -30px
  }
  
  .cp {
    position: relative;
    top: -60px
  } 
  
  .dis {
    position: relative;
    top: -90px
  }
 
  .nav-link {
     color: red;
    font-size: 18px;
  }  


@media only screen and (min-width: 1000px){
  .awd {
    position: relative;
    left: 500px;
    top: -80px
  }
  
  .abu {
    position: relative;
    left: 390px;
    top: -50px;
  }
  
  .con {
    position: relative;
    left: 230px;
    top: -43px;
  }
  
  .port {
    position: relative;
    left: 115px;
    top: -15px  
  }
  
  .home {
    position: relative;
    left: 30px;
    top: 12px;
  }
  
  .nav-link {
    font-size: 25px;
  }
  
  .da-nav {
    position: relative;
    left: 300px; 
  }
  
  .main-4 {
    position: relative;
  }
  
  .main-header {
    position: relative;
    left: 620px;
  }
  
  .main-con {
    position: relative;
    left: 200px
  }
  
  
  
  .main-p {
    font-size: 20px;
    position: relative;
    left: 230px;
  }
  
  .main-p2 {
    font-size: 20px;
  }
}    